{% load static %}

<!-- https://github.com/delight-im/HTML-Sheets-of-Paper -->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/sheets/sheets-of-paper-a4.css' %}">

<!-- https://jqueryui.com/ -->
<link rel="stylesheet" type="text/css" href="{% static 'designer/plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">

<!-- https://github.com/twbs/bootstrap/tree/v4-dev -->
<link rel="stylesheet" type="text/css" href="{% static 'designer/plugins/bootstrap-4.6.0/css/bootstrap.min.css' %}">

<!-- https://fontawesome.com/ -->
<link href="{% static 'designer/plugins/fontawesome-free-5.15.3-web/css/all.min.css' %}" rel="stylesheet">

<!-- FLAGS https://github.com/shadowsky20/flag-icon-css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet" type="text/css">

<!-- https://www.jstree.com/ -->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jstree-3.3.11-0/themes/default/style.min.css' %}">


<link rel="stylesheet" type="text/css" href="{% static 'designer/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/spinners.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/fileupload.css' %}">
