
{% extends 'auth_base.html' %}
{% load i18n static %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Password reset complete" %}</h1>
    <p>{% trans "Your new password has been set. You can log in now on the log in page!" %}</p>

    <div class="row mt-4">
        <div class="col">
            <a href="{% url 'login' %}" class="btn btn-primary btn-block">{% trans "Login" %}</a>
        </div>
        <div class="col">
            <a href="/" class="btn btn-info btn-block">{% trans "Home" %}</a>
        </div>
    </div>

{% endblock %}