{% load static %}

<!-- https://github.com/delight-im/HTML-Sheets-of-Paper -->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/sheets/sheets-of-paper-a4.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'plugins/leaflet-1.7.1/leaflet.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'sform/css/sform.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sform/css/elements.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'opeditview/css/opeditview.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static '/css/spinners.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'plugins/leaflet-1.7.1/leaflet.css' %}">

<link rel="stylesheet" type="text/css" href="{% static '/css/fileupload.css' %}">

<!-- https://www.jstree.com/ -->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jstree-3.3.11-0/themes/default/style.min.css' %}">
