
/* ------------------------- */
/* ---- LOADING SPINNER ---- */
/* ------------------------- */ 




/*
  example:
            <div class="risk-spinner-overlay">
              <i class="fa fa-sync-alt fa-spin" aria-hidden="true"></i>
            </div>
*/
.risk-spinner-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;  
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(44, 44, 44, 0.7) !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    font-size: 2rem;
    color: white !important;
  }
  
  .risk-spinner-overlay > .fa,
  .risk-spinner-overlay > .fas {
    color: #ffffff !important;
  }
  
  